.movieInfoContainer{
  padding-top:60px;

  img {
    width:250px;
    text-align: center;
  }

  .movieTitle {
    text-decoration:none;
    color:black;
    font-size:24px;
    text-align:left;
  }

}
