.movieInfoContainer{
  padding-top:60px;
  word-wrap: break-word;

  .trailerTitle{
    text-align:center;
    font-size:18px;
  }

  img {
    width:250px;
    text-align: center;
    @media #{$mq-xs, $mq-sm}{
      display:inline-block;
      // float:left;
      // width:auto;
      // height:130px;
      display:none;
      text-align:center;
    }
  }

  .movieTitle {
    text-decoration:none;
    color:black;
    font-size:24px;
    text-align:left;
  }

  .bold {
    font-weight:600;
    text-size:15px;
  }
    li {
      list-style:none;
      display:inline-block;
    }
  ul {
    display:inline-block;
    li {
      list-style:none;
      display:inline-block;
    }
  }
  .reviewAuthor {
    font-weight:500;
    font-style:italic;
  }
  .reviewContainer {
    max-height:600px;
    overflow:auto;
  }

  .forMobile {
    @media #{$mq-m, $mq-lg, $mq-xlg}{
      display:none;
    }
  }

  .forDesktop {
    @media #{$mq-xs, $mq-sm}{
      display:none;
    }
  }
}



