.nowPlayingContainer{
  margin: 0 auto;
  padding-top: 60px;
  width: 100%;
  float:right;
  display:table-cell;
  @media #{$mq-xs, $mq-sm}{
    position:relative;
    text-align:center;
    margin: 0 auto;
  }

  .singleMovie {
    position:relative;
    margin: 0 auto;
    display:inline-block;
    float:left;
    width:185px;

    @media #{$mq-xs, $mq-sm}{
        padding-left:10%;
        margin: 0 auto;
        width:290px;
        img {
          width:290px;
        }
      }

    .overlay {
      // display:none;
      background: none repeat fixed center #F3EEFF;
      width:100%;
      height:auto;
      opacity: 0;
      text-align:center;
      top:0;
      margin:0 auto;
      position: absolute;
    }

    img:hover ~ .overlay {
      padding:5px;
      color:black;
      font-size: 16px;
      font-weight: 600;
      transition:opacity 1s ease;
      opacity: .6 !important;
      filter: alpha(opacity=60); /* For IE8 and earlier */
    }

    &:hover{
      opacity:.7 !important;
      filter: alpha(opacity=70); /* For IE8 and earlier */
      cursor: pointer !important;
    }
  }

  .btnGroup{
    margin: 0 auto;
    top:50%;
    left:50%;
    text-align: center;
  }

  .posterImg {
     transition: all .7s ease-in-out;

    &:hover{

    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);

    }
  }

}


